/* reset */
* {margin: 0; padding: 0; border: 0; box-sizing: border-box; outline: 0;}
html {overflow-y: scroll;}
body {font-family: 'Spoqa Han Sans Neo','맑은고딕','sans-serif';font-size: 14px;}
img {border: 0;}
.cf:after {content: "";display: block;clear: both;}
.fl {float: left;}
.fr {float: right;}
a {text-decoration: none; color: #000000;}
em{font-style: normal;}
ul,li {list-style: none;}
h1 {display: none;}


/* layout */
#wrap {width: 100%;}
.container {width: 1400px;margin: 0 auto; position: relative;}



/* #header */
#header{font-family: 'Spoqa Han Sans Neo','맑은고딕','sans-serif';}
#header_top{padding: 19px 0; background: url(../img/bg_header.png) no-repeat top; width: 100%; height: 95px;}
.main_menu{font-size: 22px; font-weight: bold; margin-left: 505px;}
.main_menu>div>a>span{font-size: 10px; color: #616060; padding-bottom: 15px; padding-left: 4px;}
.main_menu>div{padding: 13px 0; cursor: pointer; margin: 0 18px; transition: border 0.1s;}
.main_menu>div:hover{border-bottom: 5px solid #005fca;}
.header_search{position: absolute; right: 0; top: 8px;}
.logo{position: absolute; top: -16px; left: 7px;}
.header_search input[type="text"]{border: 1px solid #dddddd; padding: 12px; border-radius: 35px; width: 174px;}
.header_search input[type="submit"]{background: url(../icon/keyword_btn.png) no-repeat; width: 18px; height: 17px; padding: 0; font-size: 0; position: absolute; top: 12px; right: 15px; cursor: pointer;}
#header_bottom{background-color: #005fca; display: block; width: 100%; position: relative;}
.left_btn{position: absolute; left: 0; top: 13px;}
.left_btn img{border: 1px solid #0027a2;}
.left_btn>a:nth-child(2){border: 1px solid #0027a2; color: #ffffff; padding: 0 12px; display: inline-block; height: 28px; font-size: 11px; line-height: 28px; position: absolute; left: 36px;}
.sub_menu ul{margin-left: 478px; font-size: 16px;}
.sub_menu li{text-align: center; padding: 18px 37px; border-right: 1px solid #0041b5;}
.sub_menu li:first-child{border-left: 1px solid #0041b5;}
.sub_menu li>a{color: #ffffff; line-height: 1;}
.right_btn{position: absolute; right: 0; top: 0;}
.right_btn>a:nth-child(1) img{position: absolute; right: 116px; top: 14px;}
.right_btn>a:nth-child(2) img{position: absolute; right: 83px; top: 14px;}
.site_map{ position:absolute; display: inline-block; right: 0; top: 0; width: 52px; height: 55px; border: 1px solid #004ca3; background-color: #0054b2;}
.hamberger_menu,.hamberger_menu span{display: inline-block; transition: all .3s; }
.hamberger_menu{position: absolute; top: 50%; left: 50%; width: 19px; height: 14px; margin: -7px 0 0 -9px;}
.hamberger_menu span{position: absolute; left: 0; width: 100%; height: 2px; background-color: #ffffff; border-radius: 4px;}
.hamberger_menu span:nth-child(1){left: 0; top: 0;}
.hamberger_menu span:nth-child(2){left: 0; top: 6px;}
.hamberger_menu span:nth-child(3){left: 0; top: 12px;}
.hamberger_menu:hover :nth-child(1){-webkit-transform: translateY(8px) rotate(-45deg); transform: translateY(8px) rotate(-45deg);}
.hamberger_menu:hover :nth-child(2){opacity: 0;}
.hamberger_menu:hover :nth-child(3){-webkit-transform: translateY(-4px) rotate(45deg); transform: translateY(-4px) rotate(45deg);}

/* main_visual */
#main_visual{position: relative;}
#bg_area{position: absolute; top: 0; left: 0; width: 100%; overflow: hidden; display: block;height: 703px; background: url(../img/bg_mv.jpg) no-repeat;}
iframe{width: 100%; height: 1071.56px; margin-top: 0; margin-left: 0;}
h2{background: url(../icon/mvisual_tit.png) no-repeat; width: 746px; height: 59px; text-indent: -999999px; position: absolute; top:70px; left: 50%; margin-left: -373px;}
h2>span{display: none;}
.grep{width: 100%; margin-bottom: 230px;}
.grid_content a>span{color: #ffffff;}
.grid_content{position: relative; margin: 230px 10px 0 17px; text-align: center;}
.grid_content>a{display: block; width: 350px; height: 280px;background-color: #000; opacity: 0.75;}
.grid_content .img{width: 100%; height: 100%; display: block; overflow: hidden; text-align: center;}
.grid_content .img>img{display: block; min-height: 100%; max-width: none; opacity: 0.1; transition: opacity 0.35s, transform 0.35s;}
.grid_content>a:hover .img>img{opacity: 0.7; transition: opacity 1s ease-out;}
.grid_content>a:hover .text{position: absolute; top: 150px; text-shadow: 1px 1px 7px rgba(0,0,0,.8); transition: all 1s ease-in-out;}
.grid_content>a:hover .text>b{margin-bottom: 12px; transition: margin-bottom 1s ease-in-out;}
.grid_content>a:hover{background: url(../img/bg_thumb.png) no-repeat; background-size: cover;}



.grid_content .text{width: 250px; position: absolute; top: 80px; left: 50px; display: inherit;}
.grid_content b{font-size: 20px; display: block; margin-bottom: 40px;}
.subTitle{font-size:14px; display: block; margin-bottom: 10px; height: 18px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.more{display:inline-block; font-size: 12px; background: url(../icon/bg_more.png) no-repeat 90% 60%; width:133px; height: 33px; line-height: 33px; text-align: left; padding-left: 9px; border: 1px solid #fff;}
.control_mvisual{width: 55px; position: absolute; left: 50%; bottom: 130px; margin-left: -27.5px;}
.control_mvisual>a:nth-child(1){background: url(../icon/micon.png) no-repeat; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.control_mvisual>a:nth-child(2){background: url(../icon/micon.png) no-repeat -13px 0; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.control_mvisual>a:nth-child(3){background: url(../icon/micon.png) no-repeat -27px 0; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}


/* #footer */
#footer {background-color: #08112a;display: block; width: 100%;padding: 38px 0;font-size: 13px;}
#footer_container {width: 1400px; height: 140px; margin: auto; position: relative;}
.mark > a {background: url(../icon/ficon.png) no-repeat 3px -33px; width: 50px; height: 47px;display: inline-block;}
#footer_menu a:last-child {color: #fff;}
#footer_menu strong {color: #ffed28;}
#footer_menu {margin-left: -10px;}
#footer_menu > a {padding: 10px; display: inline-block;}
#footer_icon {position: absolute; top: 23px; right: 41px;}
#footer_icon .icon1 { background: url(../icon/ficon.png) no-repeat -117px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon2 { background: url(../icon/ficon.png) no-repeat -79px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon3 { background: url(../icon/ficon.png) no-repeat 2px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon4 { background: url(../icon/ficon.png) no-repeat -198px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon5 { background: url(../icon/ficon.png) no-repeat -157px 7px; width: 38px; height: 40px; display: inline-block;}
.mark_icon { position: absolute; top: 61px; right: 260px;}
.address { margin-top: 20px;}
.address { color: #ffffff;}
.address a {color: #919191;}
.address a:hover { color: #000000;}
.site button {cursor: pointer; width: 200px; height: 32px; background-color: #08112a; border: 1px solid #fff; color: #ffffff; font-size: 14px; padding-bottom: 38px; position: absolute; right: 40px; top: 80px;}
.site button span {font-size: 24px; padding-left: 100px; position: relative; top: 4px; left: -1px;}
