/* reset */
* {margin: 0; padding: 0; border: 0; box-sizing: border-box; outline: 0;}
html {overflow-y: scroll; overflow-x: hidden;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
img {border: 0;}
.cf:after {content: "";display: block;clear: both;}
.fl {float: left;}
.fr {float: right;}
a {text-decoration: none; color: #000000;}
em{font-style: normal;}
ul,li {list-style: none;}
h1 {display: none;}


/* layout */
#wrap {width: 100%;}
.container {width: 1400px;margin: 0 auto;}
.container_rel{width: 1400px; margin: 0 auto; position: relative;}


/* #header */
header{font-family: 'Spoqa Han Sans Neo','맑은고딕','sans-serif';}
#header_top{padding: 19px 0; background: url(../img/bg_header.png) repeat-x top; width: 100%; height: 95px; position: relative;}
.logo{position: absolute; top: 10px;}
.header_search{position: absolute; top: 28px; width: 1400px; right: 50%; margin-right: -700px;}
.header_search input[type="text"]{border: 1px solid #dddddd; padding: 12px; border-radius: 35px; width: 174px; position: absolute; right: 0;}
.header_search input[type="submit"]{background: url(../icon/keyword_btn.png) no-repeat; width: 18px; height: 17px; padding: 0; font-size: 0; position: absolute; top: 13px; right: 13px; cursor: pointer;}
nav{background-color: #005fca; display: block; width: 100%; height: 55px; position: relative;}
.left_btn{position: absolute; left: 0; top: 13px;}
.left_btn img{border: 1px solid #0027a2;}
.left_btn>a:nth-child(2){border: 1px solid #0027a2; color: #ffffff; padding: 0 12px; display: inline-block; height: 28px; font-size: 11px; line-height: 28px; position: absolute; left: 36px;}
.sub_menu{position: absolute; top: 0; left: 50%; margin-left: -224px;}
.sub_menu ul{font-size: 16px;}
.sub_menu li{text-align: center; padding: 18px 37px; border-right: 1px solid #0041b5;}
.sub_menu li:first-child{border-left: 1px solid #0041b5;}
.sub_menu li{color: #ffffff;}
.right_btn{position: absolute; right: 0; top: 0;}
.right_btn>a:nth-child(1) img{position: absolute; right: 116px; top: 14px;}
.right_btn>a:nth-child(2) img{position: absolute; right: 83px; top: 14px;}


/* menu_1depth */
.main_menu{font-size: 22px; font-weight: bold; margin-left: 505px;}
.main_menu>li>a>span{font-size: 10px; color: #616060; padding-bottom: 15px; padding-left: 4px;}
.main_menu>li{height: 90px; padding: 13px 18px; cursor: pointer; }
/* .main_menu>li:hover >a{border-bottom: 5px solid #005fca; padding-bottom: 5px; } */
.main_menu>li>a:after{content: ''; width: 100%; height: 5px; margin-top: 4px; display: block; background: #005fca; z-index: -1; transition: .4s; transform: scale(0);}
.main_menu>li:hover >a:after{transform: scale(1);}

/* menu_2depth */
.main_menu .width100{background:#444856; width: 100%; position: absolute; top: 95px;  left: 0; z-index: 999;}
.w1400{width: 1400px; margin: 0 auto;}
.main_menu li ul li{width: 200px; height: 300px; margin: 0; border-left: 1px solid #1b1d22; padding: 20px 0; display: block;}
.main_menu .m_title>img{display: block; margin: 30px auto;}
.main_menu .m_title>p{font-size: 12px; color: #ffffff; width: 140px; margin: 0 auto; text-align: justify;}
.main_menu .m_title>.show_main{font-size: 13px; border: 1px solid #ffffff; padding: 8px 10px; margin: 70px auto 0; display: block; width: 105px; text-align: center;}
.main_menu .m_title>.show_main>a{color: #ffffff;}
.main_menu .m_title>.show_main:hover{background: #f1f1f1; border-radius: 10px; transition: all 0.2s ease-in-out;}
.main_menu .m_title>.show_main:hover a{color: #262e4c; transition: all 0.2s ease-in-out;}
.main_menu dl{text-align: center;}
.main_menu dt{margin-bottom: 10px;}
.main_menu dt>a{color: #ffffff; font-size: 14px;}
.main_menu dd>a{color: #838489; font-size: 13px; display: block; height: 30px; line-height: 30px;}
.main_menu dd>a:hover{color: #ffffff; background: #0055b2; transition: all 0.2s ease-in-out;}
.main_menu>li ul>li:hover{background: #2c2f3a; transition: background 0.4s ease-in;}

/* menu_hover */
.about,.research,.education{display: none;}
.main_menu>li:first-child:hover .about{display: block;}
.main_menu>li:nth-child(2):hover .research{display: block;}
.main_menu>li:nth-child(3):hover .education{display: block;}


/* site_map */
.site_map{ position:absolute; display: inline-block; right: 0; top: 0; width: 52px; height: 55px; border: 1px solid #004ca3; background-color: #0054b2;}
.hamberger_menu,.hamberger_menu span{display: inline-block; transition: all .3s; }
.hamberger_menu{position: absolute; top: 50%; left: 50%; width: 19px; height: 14px; margin: -7px 0 0 -9px;}
.hamberger_menu span{position: absolute; left: 0; width: 100%; height: 2px; background-color: #ffffff; border-radius: 4px;}
.hamberger_menu span:nth-child(1){left: 0; top: 0;}
.hamberger_menu span:nth-child(2){left: 0; top: 6px;}
.hamberger_menu span:nth-child(3){left: 0; top: 12px;}
.site_map:hover .hamberger_menu>span:nth-child(1){-webkit-transform: translateY(8px) rotate(-45deg); transform: translateY(8px) rotate(-45deg);}
.site_map:hover .hamberger_menu>span:nth-child(2){opacity: 0;}
.site_map:hover .hamberger_menu>span:nth-child(3){-webkit-transform: translateY(-4px) rotate(45deg); transform: translateY(-4px) rotate(45deg);}


/* main_visual */
#main_visual{position: relative; height: 703px;}
#bg_area{position: absolute; top: 0; left: 0; width: 100%; overflow: hidden; display: block;height: 703px; background: url(../img/bg_mv.jpg) no-repeat;}
iframe{width: 100%; height: 1071.56px; margin-top: 0; margin-left: 0;}
#main_visual h2{background: url(../icon/mvisual_tit.png) no-repeat; width: 746px; height: 59px; text-indent: -999999px; position: absolute; top:70px; left: 50%; margin-left: -373px;}
#main_visual h2>span{display: none;}
.grep{width: 100%; position: absolute; top: 160px;}
.grid_content a>span{color: #ffffff;}
.grid_content{position: relative; text-align: center; flex: 1; overflow: hidden;}
.grid_content>a{display: block; width: 350px; height: 280px;background-color: #000; opacity: 0.8;}
.grid_content .img{width: 100%; height: 100%; display: block; overflow: hidden; text-align: center;}
.grid_content .img>img{display: block; min-height: 100%; max-width: none; opacity: 0.1; transition: all  0.35s ease-in;}
.grid_content>a:hover .img>img{opacity: 0.7; transition: opacity 1s ease-out;}
.grid_content>a:hover .text{position: absolute; top: 180px; text-shadow: 1px 1px 7px rgba(0,0,0,.8); transition: all 1s ease-in-out;}
.grid_content>a:hover .text>em{position: relative; top: 60px;}
.grid_content>a:hover{background: url(../img/bg_thumb.png) no-repeat; background-size: cover;}
.grid_content .text{width: 250px; position: absolute; top: 80px; left: 50px; display: inherit;}
.grid_content b{font-size: 20px; display: block; margin-bottom: 40px;}
.subTitle{font-size:14px; display: block; margin-bottom: 10px; height: 18px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.more{display:inline-block; font-size: 12px; background: url(../icon/bg_more.png) no-repeat 90% 60%; width:133px; height: 33px; line-height: 33px; text-align: left; padding-left: 9px; border: 1px solid #fff;}
.control_mvisual{width: 55px; position: absolute; left: 50%; bottom: 200px; margin-left: -27.5px;}
.control_mvisual>.prev{background: url(../icon/micon.png) no-repeat; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.control_mvisual>.stop{background: url(../icon/micon.png) no-repeat -13px 0; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.control_mvisual>.next{background: url(../icon/micon.png) no-repeat -27px 0; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.swiper-container{height: 500px;}
.swiper-slide{height: 280px;}

/* popup_zone */
.popup_zone{display: block;  position: relative; left: 50%; transform: translateX(-50%); top: 150px; width: 1240px; height: 65px; background: #ffffff; box-shadow: 0 1px 3px #cecece; z-index: 1;}
.popup_zone .popup_alarm{display: inline-block; background: url(../icon/micon.png) no-repeat -155px 0px; width: 43px; height: 43px; position: absolute; top: 10px;}
.popup_zone .popup_count{display: inline-block; background: url(../icon/micon.png) no-repeat -310px -16px; width: 25px; height: 25px; text-align: center; line-height: 25px; position: absolute; top: 30px; left: 88px;}
.popup_zone .popup_count>a{color: #ffffff;}
.popup_icon>img{padding-left: 20px; padding-top: 20px;}
.popup_zone .popup_title{font-size: 1.5em; color: #2d4b92; position: absolute; left: 180px; top: 17px;}
.popup_control{position: absolute; top: 22px; right: 30px;}
.popup_control>.prev{background: url(../icon/micon.png) no-repeat 0 -19px; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.popup_control>.stop{background: url(../icon/micon.png) no-repeat -13px -19px; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.popup_control>.next{background: url(../icon/micon.png) no-repeat -27px -19px; width: 15px; height: 20px; display: inline-block; text-indent: -9999px;}
.popup_control>span{padding-right: 8px; font-size: 13px;}

/* article1 */
#article1{width: 100%; height: 950px; background-color: #f1f1f5; position: relative;}
#article1>.container{height: 100%;}
#article1 #contents_top{display: flex; justify-content: space-around; padding-top: 80px;height: 380px; margin-bottom: 20px;}
#news{flex-basis: 30%;}
#board{flex-basis: 30%;}
#pr_movie{flex-basis: 30%;}
#article1 h2{display: inline;}
#article1 .more_btn{display: inline-block; float: right;}
#article1 .more_btn>a{display: inline-block; background: url(../icon/micon.png) no-repeat -109px -4px; width: 40px; height: 40px;}
#article1 .tab_menu_tit{display: inline-block; font-size: 15px; margin-left: 20px;text-align: center;}
#article1 .tab_menu_tit>li>a{display: block; padding-right: 22px; }
#article1 #news .tab_menu_conts>ul{position: absolute; top: 140px; display: none;}
#article1 #news .tab_menu_conts>ul>li{ font-size:13px; width: 420px;border-bottom: 1px solid #d7d7d7; padding: 4px 0; line-height: 30px;}
#article1 #news .tab_menu_conts>ul>li>a{display: inline-block; width: 80%; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 8px; }
#article1 #news .tab_menu_conts>ul>li>a:hover{color: #000000;}
#article1 #news .tab_menu_conts>ul>li>a>span{color: #3378c1; padding-right: 22px;}
#article1 .tab_menu_tit>li.on>a{color: #0051a9;}
#article1 #news .tab_menu_conts>ul.on{display: block;}
#article1 #news .tab_menu_conts>ul>li>span{vertical-align: top;}

#board>ul{margin-top: 31px;}
#board>ul>li>a{display: inline-block; width: 80%; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right: 8px;color: #656565;}
#board>ul>li>a:hover{color: #000000;}
#board>ul>li{font-size:13px; width: 420px;border-bottom: 1px solid #d7d7d7; padding: 4px 0; line-height: 30px;}
#board>ul>li span{vertical-align: top;}

#pr_movie>a{height: 100%; display: block; background: url(../img/bg_mpr.png)no-repeat center center;}
#pr_movie>a>.pr_movie_tit{color: #fff; padding: 20px 0 0 20px;}
#pr_movie>a>.pr_movie_tit>em{height: 50px; line-height: 14px; display: inline-block;}
#pr_movie>a>.pr_movie_tit>span{background: url(../icon/micon.png)no-repeat -158px -50px;  display: inline-block; width: 30px; height: 30px;}
#pr_movie>a>.pr_movie_logo{text-align: center; margin-top: 30px; margin-left: 30px;}
#pr_movie>a>.play_btn{text-align: center; color: #035fca; font-size: 60px; position: relative; top: -70px; display: none;  transition: all 0.3s; animation-name: btn; animation-duration: 0.8s; animation-iteration-count: 1; transform: scale(1.2);}
#pr_movie>a:hover>.play_btn{display: block;}
@keyframes btn{
    from{transform: scale(1); color: #ffffff;}
    to{transform: scale(1.2); color: #035fca;}
}

#contents_middle{display: flex;  justify-content: space-around; overflow: hidden; height: 300px; margin-top: 80px;}
#contents_middle>a{flex-basis: 26%; position: relative; overflow: hidden; height: 300px;}
#contents_middle>a>.tit_img>img{position: absolute; top: 34px; left: 44px;}
#contents_middle>a:nth-child(1)>.tit_img{background: url(../img/bg_dreamschool.png) no-repeat center center; display: block; width: 100%; height: 35%; transition: 1s;}
#contents_middle>a:nth-child(2)>.tit_img{background: url(../img/bg_mglobal.png) no-repeat center center; display: block; width: 100%; height: 35%; transition: 1s;}
#contents_middle>a:nth-child(3)>.tit_img{background: url(../img/bg_mcybertour.png) no-repeat center center; display: block; width: 100%; height: 35%; transition: 1s;}
#contents_middle>a>.tit_info{text-align: center; width: 100%; display: block; padding: 30px; background: #fff;}
#contents_middle>a>.tit_info>.blue{color: #003c91; font-size: 18px; padding-bottom: 10px;}
#contents_middle>a>.tit_info>p:nth-child(2){color: #666; font-size: 13px;}
#contents_middle>a>.tit_info>.more_info{color: #666; font-size: 13px; border: 1px solid #d7d7d7; padding: 10px 15px;  margin-top: 20px; display: inline-block;transition: all 1s;}
#contents_middle>a:hover>.tit_info>.more_info{color: #fff; background: #003c91; border-color: #003c91; }
#contents_middle>a:hover>.tit_img{height: 40%;}

#contents_bottom{margin-top: 40px;}
#contents_bottom li{float: left; width: 260px; height: 83px;position: relative;}
#contents_bottom li>a{display: block; width: 100%;}
#contents_bottom li>a>b{font-size: 16px; display: block; margin-bottom: 5px; color: #666;}
#contents_bottom li>a>span{font-size: 12px; color: #767676;}
#contents_bottom li>a>.bg_icon{background: url(../icon/micon.png)no-repeat; display: inline-block;position: absolute;}
#contents_bottom li:nth-child(1)>a>.bg_icon{background-position: -306px -161px; width: 34px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(2)>a>.bg_icon{background-position: -370px -231px; width: 39px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(3)>a>.bg_icon{background-position: -251px -170px; width: 45px; height: 45px; top: 20px; right: 20px;}
#contents_bottom li:nth-child(4)>a>.bg_icon{background-position: -127px -231px; width: 39px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(5)>a>.bg_icon{background-position: -247px -231px; width: 44px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(6)>a>.bg_icon{background-position: -308px -231px; width: 40px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(7)>a>.bg_icon{background-position: -429px -231px; width: 39px; height: 45px; top: 20px; right: 30px;}
#contents_bottom li:nth-child(8)>a>.bg_icon{background-position: -199px -168px; width: 44px; height: 45px; top: 20px; right: 30px;}
#contents_bottom>.control_box>a:nth-child(1){background: url(../icon/micon.png)no-repeat 0px -19px; width: 15px; height: 20px; display: inline-block; text-indent: -99999px; position: relative; top: 50px;}
#contents_bottom>.control_box>a:nth-child(2){background: url(../icon/micon.png)no-repeat -28px -19px; width: 15px; height: 20px; display: inline-block; text-indent: -99999px; position: relative; top: 50px; left: 1368px;}
#contents_bottom li{background: url(../icon/bul_lnk.png)no-repeat 0px bottom;}
#contents_bottom>.slider{height: 85px; overflow: hidden; width: 1300px; margin: 0 auto;}

/* article2 */
#article2{ margin-top: 50px; margin-bottom: 50px;}
#article2 h2{text-transform: uppercase; display:inline-block;}
#article2 .date{display: inline-block; font-size: 12px; color: #b2b2b2;}
.sns{width: 840px; height: 257px; margin-right: 60px;}
.sns>.sns_link{display: inline-block; float: right; padding-right: 20px;}
.sns>.sns_link>a{background: url(../icon/bg_sns_link.png) no-repeat; width: 32px; height: 40px;display: inline-block;}
.sns>.sns_link>a:nth-child(1){background-position: -1px 0px;}
.sns>.sns_link>a:nth-child(2){background-position: -47px 0px;}
.sns>.sns_link>a:nth-child(3){background-position: -191px 0px;}
.sns>.sns_link>a:nth-child(1).on{background-position: -1px -40px;}
.sns>.sns_link>a:nth-child(2):hover{background-position: -47px -40px;}
.sns>.sns_link>a:nth-child(3):hover{background-position: -191px -40px;}
.sns ul{width: 800px; position: relative; margin-top: 30px; margin-left: 50px;}
.sns ul:before{content: ''; display: block; position: absolute; top: 0; left: -30px; width: 4px; height: 100%; background: #e5e5e9;}
.sns ul>li{width: 100%; padding: 12px 0; position: relative;}
.sns ul>li::before{content: ''; background: url(../icon/bg_snsf.png) no-repeat center center; width: 31px; height: 31px; display: inline-block; position: relative; left: -43px;}
.sns ul>li>p{width: 80%; display: inline-block;}
.sns ul>li>p>a{font-size: 13px; color: #666666;}
.sns ul>li>p:hover>a{text-decoration: underline;}
.sns .date{position: absolute; top: 13px; padding-left: 20px;}

.youtube{width: 400px; height: 257px;}
.youtube ul{margin-top: 30px; position: relative; margin-left: 50px;}
.youtube ul::before{content: ''; display: block; position: absolute; top: 0; left: -30px; width: 4px; height: 100%; background: #e5e5e9;}
.youtube ul>li a{color: #666666; font-size: 14px;}
.youtube>.sns_link{float: right;}
.youtube>.sns_link>a{background: url(../icon/bg_youtube.png)no-repeat center center; width: 32px; height: 32px; display: inline-block;}
.youtube ul>li::before{content: '';display: inline-block; background: url(../icon/bg_snsy.png) no-repeat center center; width: 32px; height: 32px; position: relative; left: -44px; top: 31px;} 
.youtube ul>li{position: relative; width: 100%; padding: 10px 0; top: -10px;}
.youtube ul>li .thumbnail{position: absolute; right: 4px; top: 20px;}

/* article3 */
#article3{width: 100%; background: url(../img/bg_mnewsletter.png) repeat;}
#article3>#newsletter_area{width: 100%; background: url(../img/bg_newsletter_1280.png) repeat;}
#article3 .newletter_box{padding: 35px 0 35px 0; height: 530px; position: relative;}
#article3 .news_tit{background: #1e81ef; color: #ffffff; display: inline-block; padding: 30px; width: 265px; position: absolute; left: 270px;  z-index: 2;}
#article3 .news_tit>em>span{font-size: 12px; color: #eaf1fd; display:block}
#article3 .news_tit>h2{font-weight: normal; font-size: 30px; margin: 30px 0 30px 0;}
#article3 .news_list_box{margin-bottom: 70px;}
#article3 .news_list_box>h3{font-weight: normal; font-size: 15px; margin-bottom: 10px;}
#article3 .news_list_box>ul>li{margin-bottom: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#article3 .news_list_box>ul>li>a{color: #ffffff; font-size: 14px;}
#article3 .news_list_box>ul>li>a:hover{text-decoration: underline;}
#article3 .news_list_box>ul>li>a>span{color: #1e81ef; font-size: 13px; background: #ffffff; border-radius: 50%; display: inline-block; width: 20px; height: 20px; text-align: center; margin-right: 10px;}
#article3 .news_control>a{display: inline-block; width: 31px; height: 31px; background: url(../icon/bg_control.png)no-repeat; text-indent: -99999999px;}
#article3 .news_control>a:nth-child(2){background-position: -30px 0;}
#article3 .news_control>a:nth-child(3){background-position: -70px 0;}
ul.newsletter{overflow: hidden; height: 335px; position: absolute; top: 50%; transform: translateY(-50%); left: 560px;}
ul.newsletter>li{float: left; padding: 0 20px; width: 250px; height: 337px; position: relative;}
ul.newsletter>li>a{display: block; width: 100%; }
ul.newsletter>li>a .newsletter_img{width: 100%; height: 122px;display: block;}
ul.newsletter>li>a .newsletter_img img{width: 100%; height: 100%;}
ul.newsletter>li>a .info_area{display: block; background: #fff; width: 100%; height: 169px; padding: 10px;}
ul.newsletter>li>a .info_area .newsletter_tit{color: #666666; font-size: 15px; font-weight: bold; height: 60px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
ul.newsletter>li>a .info_area .newsletter_tit>em{font-style: normal; color: #005fc3; font-size: 13px; display: block; text-align: right; font-weight: bold; padding-bottom: 5px;}
ul.newsletter>li>a .info_area .newsletter_text{font-size: 13px; display: block; color: #9f9f9f;}
ul.newsletter>li>a .info_area .newsletter_date{display: block; color: #767676; font-size: 12px; position: absolute; bottom: 55px; right: 30px;}


/* #footer */
footer {background-color: #08112a;display: block; width: 100%;padding: 38px 0;font-size: 13px;}
#footer_container {width: 1400px; height: 140px; margin: auto; position: relative;}
.mark > a {background: url(../icon/ficon.png) no-repeat 3px -33px; width: 50px; height: 47px;display: inline-block;}
#footer_menu a:last-child {color: #fff;}
#footer_menu strong {color: #ffed28;}
#footer_menu {margin-left: -10px;}
#footer_menu > a {padding: 10px; display: inline-block;}
#footer_icon {position: absolute; top: 23px; right: 41px;}
#footer_icon .icon1 { background: url(../icon/ficon.png) no-repeat -117px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon2 { background: url(../icon/ficon.png) no-repeat -79px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon3 { background: url(../icon/ficon.png) no-repeat 2px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon4 { background: url(../icon/ficon.png) no-repeat -198px 7px; width: 38px; height: 40px; display: inline-block;}
#footer_icon .icon5 { background: url(../icon/ficon.png) no-repeat -157px 7px; width: 38px; height: 40px; display: inline-block;}
.mark_icon { position: absolute; top: 61px; right: 260px;}
.address { margin-top: 20px;}
.address { color: #ffffff;}
.address a {color: #919191;}
.address a:hover { color: #000000;}
.site button {cursor: pointer; width: 200px; height: 32px; background-color: #08112a; border: 1px solid #fff; color: #ffffff; font-size: 14px; padding-bottom: 38px; position: absolute; right: 40px; top: 80px;}
.site button span {font-size: 24px; padding-left: 100px; position: relative; top: 4px; left: -1px;}

/* #top_btn */
#top_btn{position: fixed; width: 70px; height: 70px; bottom: 70px; right: 70px; opacity:0; transition: opacity .5s;}
#top_btn .top_btn{font-size:16px; display: block; color: #fff; width: 100%; height: 100%; line-height: 70px; text-align: center; background: #005fca; border-radius: 50%;}
#top_btn.on{opacity:1;}