*{margin: 0; padding: 0;}
body{font-family: 'Noto Sans KR', sans-serif; color: #333; box-sizing: border-box;}
.fl{float: left;}
.cf:after{content: ''; display: block; clear: both;}
a{text-decoration: none; color: #333;}
ul,li{list-style: none;}
em{font-style: normal;}
.container{width: 1000px; margin: auto;}

/* header */
header{display: flex; justify-content: space-between; height: 80px; width: 100%;}
#logo h1>a{font-size: 0;}
#logo{margin-left: 30px;}
#gnb{line-height: 80px;}
#gnb ul li{margin-right: 30px;}
#gnb ul li:last-child{margin-right: 0;}
#gnb ul li a{color: #444444; font-size: 18px; font-weight: bold;}
#util{margin-right: 30px; line-height: 80px;}
#util a{font-size: 12px; color: #444444; background: #ffffff; border: 1px solid #efefef; display: inline-block; border-radius: 50px; width: 70px; height: 34px; text-align: center; line-height: 34px;}
#util a:nth-child(1){color: #fff; background: #444444;}
#util a:nth-child(3){background: url(../img/ico_together.png)no-repeat  -30px -28px; border: 0; border-radius: 0; width: 30px; text-indent: -999999px;}

/* #main_banner */
#main_banner .main_slide{position: relative;}
#main_banner .s_txt{width: 500px;}
#main_banner .main_slide ul{height: 300px; overflow: hidden;}
#main_banner .main_slide li>a{display: block; width: 100%; height: 280px;}
#main_banner .s_txt em{font-size: 14px; color: #444444; font-weight: bold;}
#main_banner .s_txt h3{font-size: 36px; color: #444444; width: 60%;}
#main_banner .s_txt p{font-size: 14px; color: #444444; width: 60%;}
#main_banner .main_slide li .s_thumbnail{width: 492px; height: 280px; border-radius: 20px; overflow: hidden;}
#main_banner .main_slide li.no1 .s_thumbnail span{background: url(../img/thumb01.jpg) no-repeat center center; width: 100%; height: 100%; display: block; transition: 0.5s;}
#main_banner .main_slide li.no2 .s_thumbnail span{background: url(../img/thumb02.jpg) no-repeat center center; width: 100%; height: 100%; display: block; transition: 0.5s;}
#main_banner .main_slide li.no3 .s_thumbnail span{background: url(../img/thumb03.jpg) no-repeat center center; width: 100%; height: 100%; display: block; transition: 0.5s;}
#main_banner .main_slide li.no4 .s_thumbnail span{background: url(../img/thumb04.jpg) no-repeat center center; width: 100%; height: 100%; display: block; transition: 0.5s;}
#main_banner .main_slide li.no5 .s_thumbnail span{background: url(../img/thumb05.jpg) no-repeat center center; width: 100%; height: 100%; display: block; transition: 0.5s;}
#main_banner .main_slide li>a:hover .s_thumbnail span{transform: scale(1.1)}
.bx-pager{display: flex;  justify-content: flex-start; align-items: center;}
.bx-pager-item{background: #ccc; display: inline-block;  border-radius: 50%;  width: 10px;  height: 10px;  text-indent: -9999px;  margin-right: 5px;}
.hash_tag{margin: 80px 0;}
.hash_tag>.items{display: flex; justify-content: center; align-items: center; text-align: center; }
.hash_tag>.items>a{display: block; height: 65px; line-height: 65px; padding: 10px; position: relative; border-radius: 40px; margin: 0 10px; width: 15%;}
.hash_tag>.items>a>span{color: #fff; font-size: 15px; z-index: 3; position: relative;}
.hash_tag>.items>a:after{content: ''; background: #000; opacity: 0.3; display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; border-radius: 40px;  transition: all 0.5s;}
.hash_tag>.items>a:hover:after{opacity: 0;}
.hash_tag>.items>a:nth-child(1){background: url(../img/tag01.jpg)no-repeat center center; background-size: cover;}
.hash_tag>.items>a:nth-child(2){background: url(../img/tag02.jpg)no-repeat center center; background-size: cover;}
.hash_tag>.items>a:nth-child(3){background: url(../img/tag03.jpg)no-repeat center center; background-size: cover;}
.hash_tag>.items>a:nth-child(4){background: url(../img/tag04.jpg)no-repeat center center; background-size: cover;}
.hash_tag>.items>a:nth-child(5){background: url(../img/tag05.jpg)no-repeat center center; background-size: cover;}

/* #donate */
#donate h4{font-size: 24px; color: #444444; margin-bottom: 20px;}
.content{margin: 0 0 50px; display: flex; justify-content: space-between;}
.content_card{width: 236px; height: 272px;}
.content_card>a{display: block; width: 100%; height: 100%;}
.content_card>a:hover .cont_thumbnail img{display: block; width: 100%; height: 100%; transform: scale(1.1);} 
.content_card .cont_thumbnail{display: block; border-radius: 20px; overflow: hidden;}
.content_card .cont_thumbnail img{display: block; width: 100%; transition: transform 0.5s;}
.content_card .cont_tit{color: #444444; font-size: 17px; display: block; padding: 10px; height: 70px;}
.content_card .cont_sub{color: #999999; font-size: 13px; display: block; padding: 0px 10px;}
.state_wrap{float: left; width: 40%; height: 2px; position: relative; margin: 20px 10px 0;}
.state_bar{background: #ebebeb; width: 100%; height: 2px; position: relative; overflow: hidden;display: block;}
.state_gage{background: #e35396; position: absolute; top: 0; left: 0; height: 2px; display: block; width: 40%;}
.price_goal{text-align: right; display: block;}
.more button{cursor: pointer; width: 90px; padding: 10px; background: #fff; border: 1px solid #efefef; border-radius: 20px; font-size: 15px; color: #444444; display: block; margin: 0 auto;}

/* #slider */
#slider{width: 100%; position: relative; height: 300px;}
.slider_cont{width: 100%; height: 300px; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; z-index: 0; opacity: 0; transition: all 1s;}
/* .slider_cont.showing::before{position: absolute; top: 0; contain: ''; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); width: 100%;} */
.slider_cont:nth-child(1){background: url(../img/slider_1.jpg)no-repeat center top; background-size: cover;}
.slider_cont:nth-child(2){background: url(../img/slider_2.jpg)no-repeat center bottom; background-size: cover;}
.slider_cont:nth-child(3){background: url(../img/slider_3.jpg)no-repeat center center; background-size: cover;}
.slider_cont.showing{opacity: 1; z-index: 1;}

/* footer */
footer{width: 100%; background: #302f30; color: #6f6e6f;}
#footer{display: flex;justify-content: space-between; padding: 50px 0;}
.footer_right .right_top{display: flex; justify-content: space-between;}
.footer_right .right_top p{font-size: 14px; text-align: right;}
.footer_right .right_top a{display: block; font-size: 16px; color: #838383; border: 1px solid #838383; border-radius: 50px; padding: 10px 20px; margin-left: 20px;}
.footer_right .right_bottom{margin-top: 20px;}
.footer_right .right_bottom .help{height: 46px; line-height: 46px;}
.footer_right .right_bottom .help a{font-size: 17px; color: #989798; display: inline-block;}
.footer_right .right_bottom .help a:hover{text-decoration: underline;}
.footer_right .right_bottom .help .after::after{content: '∙'; width: 10px; height: 10px;}
.footer_right .right_bottom p{font-size: 15px; color: #6c6c6c; text-align: right; clear: both;}
.footer_right .f_sns{height: 46px; margin-left: 57px; margin-bottom: 20px;}
.footer_right .f_sns a{display: inline-block; border: 1px solid #5e5d5e; border-radius: 22px; width: 44px; height: 44px; text-align: center; margin: 0 3px;}
.footer_right .f_sns span{display: inline-block; background: url(../img/ico_together2.png) no-repeat; width: 28px; height: 28px; text-indent: -999999px; margin-top: 8px;}
.footer_right .f_sns a:nth-child(1) span{background-position: -94px 3px;}
.footer_right .f_sns a:nth-child(2) span{background-position: -124px 3px; width: 14px; height: 23px;}
.footer_right .f_sns a:nth-child(3) span{background-position: -139px 3px; width: 14px; height: 24px;}
.footer_right .f_sns a:nth-child(4) span{background-position: -93px -78px;}